body{
color:#1A5276;
	margin-top: 0px;
margin-bottom: 30px;
	max-width: 1360px;
margin: 10px 15% 20px;
	  position: relative;
		padding-bottom: 100px;
}

.openning{
  margin-top: 0px;
margin-bottom: 30px;
	max-width: 1360px;
margin: 0px auto 20px;
border-style: dashed;
}

.container-1{
	margin-top: 0px;
margin-bottom: 30px;
	max-width: 1360px;
margin: 0px auto 20px;

}

a:hover {
	font-weight: bold;
	color: blue;
  background-color: yellow;
  font-size: 110%;
}

p, ul{
	padding:0px 9% 4px;

}

h3{
	background-color: #FFFACD;
		padding: 5px;
	margin-top: 30px;
	padding: 20px;
	font-weight: bold;
}
h2{
	color: BlueViolet ;
	padding: 5px;

}
h4{
	  font-size: 24px;
		color:SlateBlue;
/*			text-decoration: underline ;*/
			padding: 15px;
	  background-color: lightcyan;
	margin-top: 20px;
}
.col-8{
 vertical-align: middle;
margin-top: 20px;
}

h5{ margin-top: 15px;
	font-size: 20px;
	color: MediumSlateBlue;
		padding: 5px;
/*		text-decoration: underline dotted 2.5px;*/
	  background-color: MistyRose;
}
h5:hover {
	text-decoration: underline dotted 2.5px;
/*	font-weight: bold;*/
/*	color: blue;*/
/*  background-color: MistyRose;*/
/*  font-size: 110%;*/
}
h1{
	padding:15px;
}
img{
	padding:15px;
}
img:hover{

}
